%head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/
    %title suginami football clab
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:700,400", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
.chat-main
    .main-header
        .header-left
            .current-group
                .member-list
                    = @group.name
            .member-first
                %p.member-first__box Member : 
                - @group.users.each do |user|
                    .member-first__box__name
                        = user.name
        .header-right
            .edit-btn
                = link_to("Edit","/groups/#{@group.id}/edit")
            - if @group.id != 1
                .delete-btn
                    = link_to("Delete","/groups/#{@group.id}",method: :delete)
    .messages
        = render @messages
    .main-footer
        = form_for [@group, @message] do |f|
            .new-message
                .new-message__box
                    = f.text_field :content, class: 'input-text', placeholder: 'type a message'
                    = f.hidden_field :user_id, :value => current_user.id
                    = f.label :image, class: 'new-message__box__image' do
                        = icon('far', 'image', class: 'icon')
                        = f.file_field :image, class: 'hyde'
                = f.submit 'Send', class: 'submit-btn'