%head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/
    %title suginami football clab
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:700,400", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
.message{data: {message: {id: message.id}}}
    .one-message 
        .one-message__name__box
            = message.user.name
        .one-message__name__day
            = message.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]}) %H:%M")
    - if message.content.present?
        .name-box
            %p.name-box__text
                = message.content
    = image_tag message.image.url, class: 'name-box__image' if message.image.present?