%head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0", :name => "viewport"}/
    %title suginami football clab
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:700,400", :rel => "stylesheet"}/
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
.chat-side
    .side-header
        .side-header__box
            %p.side-header__box__user-name 
                = current_user.name
            %ul.edit
                = link_to new_group_path do
                    =icon('far', 'edit')
                %li.edit-icon
                = link_to edit_user_path(current_user) do
                    =icon('fas', 'cog',class: 'icon')
                %li.user-icon
    .groups
        - current_user.groups.each do |group|
            .groups__all
                = link_to group_messages_path(group) do
                    .groups__all__first
                        = group.name
                    .groups__all__content
                        = group.show_last_message